.esto a {
    text-decoration: none;
}

.country {
    display: inline-block;
    margin: 35px;
    background-color: rgba(255, 255, 255, .15);
    padding: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    cursor: pointer;
    max-width: 250px;
}

.contenedorCountry {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.country img {
    height: 170px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.country a {
    text-decoration: none;
    color: white;
}

.country h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.country p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.activity {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    color: white;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    font-weight: 700
    /* margin: 20px;
    margin-left: 850px;
    background-color: rgb(52, 52, 158);
    color: white;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 900; */
}

/* .activity:hover {
    background-color: rgba(0, 0, 255, 0.587);
    color: white;
} */

.filtrado select {
    background-color: rgb(52, 52, 158);
    color: white;
    display: inline-block;
    margin: 5px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 30px;
}