.error {
    background-image: url('../images/error.jpg');
    height: 100vh;
    background-color: white;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.error p {
    font-size: 20px;
}

.back {
    display: inline-block;
    margin-top: 313px;
    padding: 10px 10px;
    background-color: rgb(52, 52, 158);
    color: white;
    border-radius: 15px;
    font-weight: 400;
}